@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

h4, h5, h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: brown;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    /* border: 5px solid black; */
    margin-right: auto;
    margin-left: auto;
}
.btn{
    display: inline-block;
    color: white;
    background-color: #01bdaa;
    line-height: 1.2;
    padding: 15px 25px;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
/* header section  */
header{
    position: relative;
}
.topbar{
    background-color: #001A56;
    padding-top: 12px;
    padding-bottom: 12px;
}
.info-block, .social-icon{
    display: inline-block;
    color: white;
}
.info-block{
    width: calc(100% - 250px);
}
.info{
    display: inline-block;
    margin-right: 100px;
}
.info > i{
    margin-right: 10px;
    color: orange;
}
.info:last-child{
    margin-right: 0;
}
.social-icon{
    width: 250px;
    /* border: 1px solid red; */
    text-align: right;
}
.social-icon .icon{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.icon:last-child{
    margin-right: 0;
}
.social-icon > .icon:hover{
    color: orange;
}

.navbar{  
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 8px 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: -56px;
   
}
.navbar > * {
    display: inline-block;
    vertical-align: middle;
}
.logo{
    color: #001A56;
    font-weight: bold;
    font-size: 30px;
    width: 160px;
}

.logo .logo-color{
    color: orange;
}
.logo .logo-line{
    border-bottom: 2px solid orange;
    border-radius: 2px;
}

.nav-menu{
    list-style: none;
    width: calc(100% - 220px);
    text-align: center;
}

.nav-icon{
    width: 60px;
    text-align: right;
    
}
.nav-icon i{
    display: inline-block;
    margin-right: 15px;
}
.nav-icon i:last-child{
    margin-right: 0;
}
.nav-menu > li{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    /* background-color: red; */
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav-menu > li:last-child{
    margin-right: 0;
}
.nav-menu > li > .dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px 15px;
}
.nav-menu  a:hover {
    color: orange;
}
.nav-menu > li:hover > .dropdown-menu {
    display: block;
}
.nav-menu > li > .dropdown-menu > li > a{
    display: block;
    white-space: nowrap;
    padding: 10px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.nav-menu a{
    color: #111111;
}
/* hero section  */
.hero-section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(./image/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
.hero-content{
    max-width: 580px;
    position: relative;
}
.hero-content h2{
    font-size: 3.2em;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-content p{
    margin-bottom: 30px;
}
.hero-content .primary-btn{
    margin-left: 50px;
    background-color: white;
    color: #001A56;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.hero-content span{
    display: block;
    position: absolute;
    left: -50px;
    font-size: 9em;
    line-height: 1;
    color: #001A56;
    font-family: 'Rubik';
    font-weight: 700;
    opacity: 0.3;
}
/* cta-section  */
.cta-section{
    padding: 60px 0;
    background-color:#001A56;
}
.cta-box{
    position: relative;
}
.client-block{
    width: 50%;
    text-align: center;
}
.client-block img{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}
.cta-block{
    width: 50%;
    background-color:#01bdaa;
    padding: 80px;
    position: absolute; 
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    border-top: 5px solid #001A56;
}
.cta-block form h2{
    color: white;
    margin-bottom: 20px;
}
.cta-block form input, textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
    font-size: .8em;
}
.cta-block form input::placeholder, .cta-block form textarea::placeholder{
    font-size: .8em;
}
.cta-block form input[type=submit]{
    display: inline-block;
    width: auto;
    background-color:#001A56;
    color: white;
    border-radius: 100px;
    padding: 15px 30px;
}
/* .cta-block form input::placeholder{
    color: blue;
} */

/* business solution section  */

.business-solution-section{
    margin-top: 200px;
    margin-bottom: 100px;
}
.business-solution-section h1{
    color: #001A56;
    text-align: center;
}
.business-solution-img, .business-solution-content{
    margin-top: 50px;
    display: inline-block;
    width: calc(50% - 20px);
    /* height: 200px; */
    vertical-align: top;
}
.business-solution-img{
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    /* border: 2px solid red; */
}
.business-solution-content{
    margin-left: 20px;
    /* border: 2px solid green; */
    vertical-align: middle;
}
.business-solution-img img{
    width: 100%;

}
.business-solution-img-logo{  
    background-color:#01bdaa;
    /* display: inline-block; */
    outline: 20px solid #01bdaa6f;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 60px;
}
.business-solution-img-logo h5{
    text-align: center;
}
.business-solution-img-logo h5 span{
    font-weight: 900;
    font-size: 30px;
}
/* .business-solution-info i, h2{
    display: inline-block;
} */
.business-solution-info i, h2{
    vertical-align: middle;
    color: #001A56;
}
.business-solution-info{
    display: inline-block;
    margin-bottom: 30px;
}
.business-solution-info:last-child{
    margin-bottom: 0;
}
.business-solution-info div{
    display: inline-block;
    /* margin-left: 20px; */
}
.fa-circle-check{
    margin-right: 10px;
}
.business-solution-info  h2{
    display: inline-block;
}
.business-solution-info p{
    margin-left: 30px;
    margin-top: 10px;
}

/* services seciton start  */
.services-section{
    background-image: url(./image/services-3.jpg);
    /* height: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin-bottom: 100px;
   
}
.services-content{
    width: 100%;
}
.services-section h1{
    color: white;
    text-align: center;
    
}

.service-card{
    margin-top: 50px;
    width: calc(100% / 6 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    /* height: 400px; */
    background-color: white;
    vertical-align: top;
    
    color: #01bdaa;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 50px;
}
.service-card h2,h4{
    margin-top: 20px;
    color:#001A56 ;
}
.service-card h4{
    font-weight: 100;
    text-transform: uppercase;
}
.service-card i{
    font-size: 60px;
}

/* invest seciton  */
.invest-section{
    margin-bottom: 100px;
}
.invest-section h1{
    text-align: center;
    color: #001A56;
    text-transform: capitalize;
}

.invest-section-card{
    margin-top: 30px;
    background-color: #F9F9F9;
    height: 200px;
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.invest-section-card h2, h3{
    text-transform: capitalize;
}
.invest-section-card h3{
    color: #01bdaa;
    margin-bottom: 5px;
}

.invest-section-card .card-item2{
    width: calc(100% / 2);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.invest-section-card .card-item1, .card-item3{
    width: calc(100% / 4);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.card-item1 i{
    font-size: 80px;
    color: #01bdaa;
}
.card-item2 span{
     display: inline-block;
     position: absolute;
     border-left: 4px solid #01bdaa;
     height: 150px;
     top: -20px;
     left: -60px;
}
.card-item3 {
    text-align: right;
}

/* progress section start  */
.progress-section{
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.half-width img{
    width: 100%;
}
.img-block{
    position: relative;
}
.img-block i{
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    background-color:#01bdaa;
    padding: 20px;
    border-radius: 100px;
    font-size: 20px;
}
.progress-area{
    background-color:#001A56;
    /* height: 200px; */
    padding: 50px 0;
    padding-left: 70px;
    padding-right: calc(100% - 1200px / 2);
    color: white;
    margin-left: -50px;
    position: relative;
    z-index: 100;
}
.progress-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Rubik';
}
.progress-bar-title{
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    /* background-color: red; */
    margin-bottom: 10px;
    margin-top: 20px;

}
.progress-bar-percentage{
    display: inline-block;
    width: 50%;
    margin-left: auto;
    text-align: right;
    color: white;
}
.progress-bar-percentage span{
    background-color: black;
    padding: 2px 6px;
    border-radius: 4px;
}

.progress-bar-outer{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.progress-bar-inner1, .progress-bar-inner2, .progress-bar-inner3{
    
    height: 5px;
    border-radius: 5px;
    background-color:#01bdaa;
}
.progress-bar-inner1{
    width: 80%;
}
.progress-bar-inner2{
    width: 90%;
}
.progress-bar-inner3{
    width: 70%;
}

/* progress section end  */

/* traffic and conversation section start  */
    .traffic-conversation-section{
        margin-bottom: -400px;
    }
    .traffic-conversation-title{
        text-align: center;
        text-transform: capitalize;
        font-size: 2em;
        margin-bottom: 20px;
    }
    .traffic-conversation-left-segment{
        display: inline-block;
        width: calc(50% - 10px);
        height: 800px;
        margin-right: 10px;
        /* border: 1px solid red; */
        /* height: 200px; */
    }
    .traffic-conversation-right-segment{
        display: inline-block;
        width: calc(50% - 10px);
        margin-left: 10px;
        height: 800px;
        /* border: 1px solid red; */
        /* height: 200px; */
    }
    .traffic-conversation-left-segment-img, .traffic-conversation-right-segment-img, .traffic-conversation-left-segment-content, .traffic-conversation-right-segment-content{
        width: 50%;
        height: 300px;
        /* border: 1px solid green; */
        /* height: 200px; */
        display: inline-block;
        /* padding: 20px; */
        /* vertical-align: top; */
    }
    .traffic-conversation-left-segment, .traffic-conversation-right-segment{
        vertical-align: top;
        /* height: auto; */
        /* height: auto; */
    }
     .traffic-conversation-left-segment-content, .traffic-conversation-right-segment-content{
        vertical-align: top;
     } 
     
    .traffic-conversation-left-segment-img img, .traffic-conversation-right-segment-img img{
        width: 100%;
        /* height: 300px; */
        height: 100%;
    }
    .traffic-conversation-left-segment-content, .traffic-conversation-right-segment-content{
        background-color: #F2F2F4;
        /* height: 100%; */
        /* padding: 20px; */
        /* height:fit-content; */
        padding: 20px 20px;
    }
    .traffic-conversation-left-segment-content .tc-common-text, .traffic-conversation-right-segment-content .tc-common-text{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .traffic-conversation-left-segment-content h2, .traffic-conversation-right-segment-content h2{
        font-size: 1.2em;
        color: black;
        text-transform: capitalize;
        margin-top: 5px;
        margin-bottom: 5px;
    }
/* traffic and conversation section end  */

/* reason section start  */
.reason-section{
    background-color:#001A56;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
/* reason section end  */
.reason-section-title{
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}
.reason-partition{
    width: calc(100% / 4);
    display: inline-block;
}
.numbering{
    background-color:#01bdaa;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}
.reason-partition span{
    display: inline-block;
    vertical-align: top;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

/* solutions section start  */
.solution-section{
    margin-bottom: 100px;
}
.solution-section-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
}
.solution-profile{
    margin-top: 20px;
    width: calc(100% / 3 - 10px);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: inline-block;
    vertical-align: top;
}
.solution-profile img{
    width: 100%;
}
.solution-content{
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
}
.solution-content p{
    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
/* solutions section end  */

/* accordion section start  */
.accordion-section{
    margin-bottom: 100px;
}
.accordion-section-title{
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.accordion-body{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 20px;
}
.accordion-title{
    display: block;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: bold;
    position: relative;
    
}
.accordion-body input{
    display: none;
}
.accordion-body p{
    display: none;
    padding: 20px;
}
.accordion-body > input:checked ~ .accordion-title{
    background-color:#01bdaa;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}
.accordion-body input:checked ~ p{
    display: block;
}
.accordion-title i{
    position: absolute;
    right: 20px;
}
.accordion-body input:checked ~ .accordion-title > i{
    transform: rotate(180deg);
}

/* accordion section end */
.top-footer{
    background: linear-gradient(to right, rgba(50, 70, 80, 0.7), rgba(30, 20, 150, 0.7)), url(./image//services-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top-footer-title{
    display: inline-block;
    width: 60%;
    color: white;
    text-transform: capitalize;
    vertical-align: middle;
    /* border: 1px solid red; */
}
.footer-button{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: right;
    /* border: 1px solid green; */
}
.footer-button a{
    display: inline-block;
}
.bottom-footer{
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0,0,0, 0.8)), url(./image/footer-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
   
}
.bottom-content{
    width: calc(100% / 4 - 10px);
    margin-right: 10px;
    /* margin-left: 10px; */
    display: inline-block;
    /* height: 200px; */
    /* border: 1px solid red; */
    vertical-align: top;
    color: white;
    
}
.bottom-content h1{
    margin-bottom: 30px;
}
.bottom-content p{
    font-weight: bold;
}
/* .bottom-content:first-child{
    margin-left: 0;
} */
.bottom-content:last-child{
    margin-right: 0px;
}
.bottom-icon{
    /* display: inline-block; */
    width: 10%;
    vertical-align: top;
    color: orange;
}
.bottom-text{
    display: inline-block;
    width: calc(90% - 10px);
    margin-left: 10px;
    vertical-align: top;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold;
    /* display: inline-block; */
}
.clock{
    display: inline-block;
    margin-top: 8px;
    font-weight: 100;
    font-size: 14px;
}
.footer-last-area{
    background-color: #253242;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(0,0,0,0.2);
    color: white;
    font-weight: 100;
    position: relative;
    
}
.footer-last-area-left, .footer-last-area-right{
    display: inline-block;
    width: 50%;
}
.footer-last-area-right{
    text-align: right;
}
.footer-last-area-right span{
    margin-left: 30px;
    text-transform: capitalize;
}
.footer-last-area .fa-angle-down{
    transform: rotate(180deg);
    position: absolute;
    background-color: orange;
    padding: 10px;
    border-radius: 100px;
    left: 10px;
    top: 10px;
}